:root{
    --primary-color:rgba(245,245,245,1);
    /* --primary-colorD:black; */
    --primary-colorD:#03001C;
    --primary-color2:#DDF7E3;
    --secondary-color:	rgb(44, 116, 179);
    --secondary-colorD:;
    --secondary-color-hover:rgb(44, 116, 179,.5);
    --secondary-color2:hsl(41, 92%, 63%);
    --secondary-color2D:#8b8b8d;
    --secondary-color2-hover:	rgb(244, 185, 67,.5);
    --clr-black:black;
    --clr-blackD:#8b8b8d;
    --clr-white:white;
    --primary-text-font-family:Arial, Helvetica, sans-serif;
}
.aboutContainer{
    /* background-color: hsl(41, 83%, 82%); */
    padding: 15px 0;
}
.aboutContainer div{
    margin:20px 10px;
    padding: 2rem;
    font-size:1.3rem;
    line-height: 1.8rem;
    color: var(--secondary-color);
    background-color: hsla(46, 90%, 88%,.7);
    border-radius: 10px;
   
}
.aboutContainer div{
    background-image: url(public/backImage.jpg);
    background-size: cover;
}
/* .aboutContainer div:nth-child(2n+1){
    background-image: url(/backImage2.jpg);
    background-size: cover;
} */
.goDark .aboutContainer div{
    color: black;
}
.brandName{
    color: var(--secondary-color2);
}
hr{
    margin: auto;
    width: 70%;
    color:var(--secondary-color2) ;
    /* border-top: dotted 5px var(--secondary-color2); */
}

